/* 顶部导航条容器 */
.topbar_wrapper {
  position: relative;
  width: 100%;
  line-height: 40px;
  background-color: #333;
  margin: 0px;
}

.topbar a {
  font-size: 12px;
  color: #b0b0b0;
  display: block;
}

.topbar .sep {
  color: #424242;
  margin: 0 0.3em;
}

.topbar a:hover {
  color: white;
}

.services,
.topbar li {
  float: left;
}

.appdownload {
  position: relative;
  z-index: 9998;
}

.appdownload:hover .qrcode,
.appdownload:hover::before {
  display: block;
  height: 148px;
}

.appdownload::before {
  display: none;
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border: 8px solid transparent;
  border-top: none;
  border-bottom-color: white;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
}

.appdownload .qrcode {
  position: absolute;
  overflow: hidden;
  height: 0;
  left: -40px;
  width: 124px;
  line-height: 1;
  text-align: center;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  /* 设置过渡效果 */
  transition: height 0.3s;
}

.appdownload .qrcode img {
  width: 90px;
  margin: 17px;
  margin-bottom: 10px;
}

.appdownload .qrcode span {
  color: black;
  font-size: 14px;
}

.shop_cart,
.user-info {
  float: right;
}

.shop_cart {
  margin-left: 15px;
  position: relative;
  z-index: 999;
}

.shop_cart .cart_menu {
  position: absolute;
  overflow: hidden;
  left: -196px;
  width: 316px;
  height: 0;
  text-align: center;
  color: #424242;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: height 0.3s;
}

.shop_cart .cart_menu .cart_menu_msg {
  margin: 0 20px 0px 20px;
  padding: 20px 0 20px 0px;
  font-size: 12px;
}

.shop_cart:hover .cart_menu {
  display: block;
  height: 80px;
}

.shop_cart:hover a {
  background-color: white;
  color: #ff6700;
}

.shop_cart a {
  width: 120px;
  background-color: #424242;
  text-align: center;
}

.shop_cart i {
  margin-right: 2px;
}

.header {
  height: 100px;
}

.header_wrapper {
  position: relative;
}

.header .logo {
  float: left;
  margin-top: 22px;
  width: 55px;
  height: 55px;
  position: relative;
  overflow: hidden;
}

.header .logo a {
  position: absolute;
  width: 55px;
  height: 55px;
  left: 0;
  background-position: center;
  background-size: cover;
  transition: left 0.3s;
}

.header .logo .header_logo {
  background-image: url(../img/logo-mi2.png);
  left: 0;
}

.header .logo .header_bell {
  background-image: url(../img/aquax7.png);
  left: 55px;
}

.header .logo:hover .header_logo {
  left: 55px;
}

.header .logo:hover .header_bell {
  left: 0;
}

.header .nav_wrapper {
  float: left;
  margin-left: 7px;
}

.nav_wrapper .nav > li {
  float: left;
}

.first_wrapper {
  position: relative;
}

.left_menu {
  width: 234px;
  height: 460px;
  padding: 20px 0;
  left: -120px;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  z-index: 99;
  line-height: 1;
}

.nav .left_menu a {
  display: block;
  height: 42px;
  line-height: 42px;
  color: white;
  margin-right: 0;
  padding: 0 30px;
  font-size: 14px;
}

.left_menu a i {
  float: right;
  line-height: 42px;
}

ul .left_menu li a:hover {
  color: white;
  background-color: #ff6700;
}

.nav_wrapper li a {
  display: block;
  font-size: 16px;
  padding: 0 10px;
}

.nav_wrapper li a:hover {
  color: #ff6700;
}

.header .nav {
  height: 100px;
  line-height: 100px;
  padding-left: 58px;
}

.nav .first {
  visibility: hidden;
}

.nav .goods_info {
  position: absolute;
  overflow: hidden;
  height: 0;
  width: 100%;
  top: 100px;
  left: 0;
  transition: height 0.3s;
  z-index: 9999;
}

.nav
  li:not(:first-of-type):not(:nth-child(10)):not(:nth-child(9)):hover
  ~ .goods_info,
.goods_info:hover {
  height: 228px;
  border: 1px solid rgb(224, 224, 224);
  box-shadow: 0 3px 4px rgba(0, 0, 0, 18%);
}

.search_wrapper {
  width: 296px;
  height: 50px;
  float: right;
  margin-top: 25px;
}

.search_wrapper .search_inp {
  width: 244px;
  float: left;
  border: none;
  box-sizing: border-box;
  border: 1px solid rgb(224, 224, 224);
  border-right: none;
  height: 50px;
  padding: 0 10px;
  font-size: 16px;
  outline: none;
}

.search_wrapper .search_inp:focus,
.search_wrapper .search_inp:focus + button {
  border-color: #ff6700;
}

.search_wrapper .search_btn {
  float: left;
  width: 52px;
  height: 50px;
  padding: 0;
  border: 1px solid rgb(224, 224, 224);
  background-color: white;
  color: #616161;
  font-size: 18px;
}

.search_wrapper .search_btn:hover {
  background-color: #ff6700;
  border: #ff6700;
  color: white;
}
