html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
}

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.w {
  width: 1226px;
  margin: 0 auto;
}

body {
  background-color: #fedfe1;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
}

.song-list {
  width: 660px;
  height: 100%;
  margin: 0 auto;
  /* column-count: 4;
  column-gap: 30px; */
}
#select {
  display: none;
}

.card {
  position: relative;
  width: 200px;
  height: 300px;
  /* margin-top: 20px; */
  margin: 10px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 15px;
  text-align: center;
  overflow: hidden;
  float: left;
}

.image1 {
  position: relative;
  width: 200px;
  height: 115px;
  background: url(../img/EmlIXExU0AEwJ2W.jpg) no-repeat center center;
  background-size: cover;
}

.title1 {
  font-size: 20px;
  color: rgb(88, 88, 88);
  margin: 12px 0 7px 0;
}

.line {
  height: 1px;
  width: 160px;
  background-color: gray;
  margin: 0 auto;
}

.song-rank {
  margin: 10px 0 0 0;
  font-size: 12px;
  line-height: 12px;
  color: gray;
}
